# Sanity
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2026-03-01

# App
SITE_URL=https://your-domain.com

# ISR / Vercel
VERCEL_REVALIDATE_TOKEN=
SANITY_WEBHOOK_SECRET=

# Studio
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_PREVIEW_SECRET=

# Seed (optional)
SANITY_WRITE_TOKEN=
